.navbar-custom {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bs-body-bg);
  /* height: 42px; */
  height: 50px;
  z-index: 99;
  border-top: 3px solid #005e9c;
  box-shadow: var(--bs-box-shadow);
  transition: 0.3s;
}

.navbar-custom .sidebar-toggle {
  font-size: 23px;
  cursor: pointer;
}

.navbar-custom .profile i {
  font-size: 23px;
}

.navbar-custom .name {
  display: none;
}

@media (min-width: 768px) {
  .navbar-custom {
    box-shadow: var(--bs-box-shadow-sm);
    left: 250px;
  }

  .navbar-custom.full {
    left: 0;
  }

  .navbar-custom .name {
    display: block;
  }
}

.navbar-custom .theme-color .dropdown-menu {
  min-width: 0 !important;
}

.dropdown.dropdown-custom .dropdown-toggle {
  background: none !important;
  padding: 0 !important;
  border: 0 !important;
  color: var(--bs-body-color) !important;
  display: flex;
  align-items: center;
}

.dropdown.dropdown-custom .dropdown-toggle .desktop {
  display: none;
}

.dropdown.dropdown-custom .dropdown-toggle .mobile {
  display: block;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
}

@media (min-width: 768px) {
  .dropdown.dropdown-custom .dropdown-toggle .desktop {
    display: block;
  }

  .dropdown.dropdown-custom .dropdown-toggle .mobile {
    display: none;
  }
}

.dropdown.dropdown-item-sm .dropdown-item {
  font-size: 14px;
}

.dropdown .dropdown-menu {
  padding: 5px;
}

.dropdown .dropdown-menu .dropdown-item {
  border-radius: var(--bs-border-radius);
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dropdown .dropdown-menu .dropdown-item i {
  font-size: 14px;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  margin-bottom: 0;
}
